@using VetAB.Models;
@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="images/hero-cat.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">VetAB</h1>
        <p class="lead">Det bästa valet för dig och ditt djur</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Våra tjänster</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Kontakta oss</button>
        </div>
      </div>
    </div>
  </div>
<h2>Våra tjänster</h2>

@model IEnumerable<VetAB.Models.Product>
    @if(Model != null) {
         foreach(var item in Model) {
        <div class="card" style="width: 18rem;">
            @if(item.ImageName != null)
            {
                <img class="card-img-top" src="images/@item.ImageName" alt="">
            }
        <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <p class="card-text">@item.Description</p>
            <a href="#" class="btn btn-primary">Läs mer</a>
        </div>
        </div>
         }
    }
