html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.card-img-top {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
}
.card-img-top:hover {
  transform: scale(1.1);
  transition-timing-function: ease-in-out;
  transition: 0.25s;
}
.btn-primary {
  background-color: #8b317f;
  border-color: #8b317f;
}
.btn-outline-secondary {
  border-color: #6884bd;
  color: #6884bd;
}
.btn-primary:hover {
  background-color: #6884bd;
  border-color: #6884bd;
}
.btn-outline-secondary:hover {
  border-color: #8b317f;
  color: #8b317f;
  background-color: white;
}
.columns {
  display: flex;
  align-content: center;
}
.center-container {
  text-align: center;
  padding-top: 3rem;
}
h1 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.card-body {
  position: relative;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-body .btn-primary {
  position: absolute;
  bottom: 0;
}
.col-4 {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}
